<ul>
  <li>
    <%= @celebrity.name %>, <%= @celebrity.job %>
  </li>
</ul>

<%= link_to 'Edit', edit_celebrity_path(@celebrity) %>
<%= link_to 'Delete celebrity', celebrity_path(@celebrity), method: :delete %>
